<!DOCTYPE html>
<html>


<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" , href="./css/website.css">
</head>

<body>
    <div class="main-content">{{>header}}
        <p>This Website created by Sagar. It uses data from mapbox.com and darksky.net</p>
    <img src="/images/profile.jpg">
    </div>
    {{>footer}}
</body>

</html>